<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Below is config template
		<add key="eventHubNamespaceFQDN" value="[put value here..]"/>
		<add key="eventHubName" value="[put value here..]"/>
		<add key ="eventHubConnStr" value="[put value here..]"/>
		<add key="tenantId" value="[put value here..]"/>
		<add key ="clientId" value="[put value here..]"/>
		<add key="clientSecret" value="[put value here..]"/>
		-->

		<!--common, pls note time is in sec-->
		<add key="timeToInvokeTokenCancellation" value="45"/>
		<add key="proxyUrl" value=""/>
		<add key="useProxy" value="false"/>
	</appSettings>
</configuration>